<!DOCTYPE HTML >
<html lang="en">
  <head>
  </head>

<body>

    <% if flash[:success] %>
      <div class="success"><%= flash[:success] %></div>
    <% end %>
    <% if flash[:error] %>
      <div class="fail"><%= flash[:success] %></div>
    <% end %>

    <div id="wrapper">
        <%= form_for(@info) do |f| %>
            <fieldset>
                <legend>Send a letter</legend>
                <div>
                    <div><%= f.email_field :from, placeholder: "From", class: "text" %></div>
                </div>
                <div>
                    <div><%= f.text_field :to, placeholder: "To", class: "text"%></div>
                </div>
                <div>
                     <div><%= f.text_field :subject, placeholder: "Subject", class: "text" %></div>
                </div>
                <div>
                    <div><%= f.text_area :body, placeholder: "Message", class: "textarea" %></div>
                </div>

            <%= f.submit "Send"%>
            </fieldset>
        <% end %>
    </div>


  </body>
</html>
