<!DOCTYPE HTML >
<html lang="en">
<head>
</head>

<body>
    <div id="wrapper">
        <%= form_for(@info) do |f| %>
            <fieldset>
                <legend>Send a letter</legend>
                <div>
                    <div><%= f.email_field :from, placeholder: "From", class: "text" %></div>
                </div>
                <div>
                    <div><%= f.email_field :to, placeholder: "To", class: "text"%></div>
                </div>
                <div>
                     <div><%= f.email_field :subject, placeholder: "Subject", class: "text" %></div>
                </div>
                <div>
                    <div><%= f.text_area :body, placeholder: "Message", class: "textarea" %></div>
                </div>

              <%= f.submit "Send"%>
            </fieldset>
        <% end %>
    </div>
</body>
</html>
